html, body{
	font-family: 'Handlee', cursive;
}

div{
	display: block;
}

/* header */

.header{
	font-family: 'Handlee', cusirve;
	background-color: #0034BC;
}

.nav{
	text-align: center;
	font-size: 25px;
}

.nav li{
	color: white;
	margin-top: 10px;
}

.navbar-brand{
	color: white;
	font-weight: bold;
}



/* about */

#about{
	font-family: 'Handlee', cursive;
}