html, body{
	font-family: 'Handlee', cursive;
}

div{
	display: block;
}

/* header */

.header{
	font-family: 'Handlee', cursive;
	background-color: #7A7A7A;

}

.navbar-nav{
	margin: 0;
	text-align: center;
	font-size: 25px;
}

.navbar-nav li{
	margin-top: 0;
	margin-right: 10px;
}


.navtext {
	padding-top: 15px;
	margin-left: 40px;
	font-size: 200%;
}

.navtext a{
	text-align: center;
	font-family: 'Handlee', cursive;
	color: white;
	font-weight: bold;
}

.navtext a:hover, a:focus{
	text-decoration: none;
	color: #F5F5F5	 !important;
}

.navbar-nav li a{
	color: white;
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

.navbar-nav li a:hover{
	background-color: #202020 !important;
}

/* home */

#home{
	font-family: 'Handlee', cursive;
	background: url(../img/own.png) no-repeat center center;
	background-size: cover;
	text-align: center;
	color: white;
	padding-top: 20%;
    padding-bottom: 25%;
}

#home h1,h3{
	font-size: 80px;
	text-shadow: 8px 8px 8px black;
}

#home a{
	margin: 15px;
}

/* about */

#about{
	font-family: 'Handlee', cursive;
	background: url(../img/home4.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	color: white;
	padding-top: 5%;
    padding-bottom: 5%;
}

#about .row{
	margin-left: -150px;
}

#about h1{
	font-weight: bold;
	font-size: 55px;
}

#about p{
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	font-size: 20px;
}


/* portfolio */

#portfolio{
	background-color: #555555;
}

#portfolio .row{
	padding: 5% 0 5% 10%;
}

#portfolio .col-md-4{
	margin-right: -10% !important;
}

/* contact */

#contact{
	background-color: #f2f2f2;
	font-family: 'Handlee', cursive;
	padding: 5% 0 5% 0;
}
	
#contact .email-icon{
	margin-top: 5% !important;
	margin-left: 48% !important;
	color: black;
}

#contact .email-icon:hover{
	color: #571845;
}

#contact h1{
	text-align: center;
	font-size: 55px;
}

#contact .row{
	padding-top: 5%;
	margin-left: 8%;
}